<div class="container" appDnd (fileDropped)="onFileDropped($event)">
  <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($any($event.target).files)" />
  <fa-icon [icon]="faUpload" class="fa-2x"></fa-icon>
  <h3>Drag and drop file here</h3>
  <h3>or</h3>
  <label for="fileDropRef">Browse for file</label>
</div>

<div class="container-xl">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title" id="main-container">
      </div>
      <table class="table table-striped table-hover" id="files-list">
        <thead>
          <tr>
            <th>Size</th>
            <th>Type</th>
            <th>Name</th>
            <th>Actions</th>

          </tr>
        </thead>
        <tbody *ngFor="let file of files; let i = index">
          <tr>
            <td>{{ file?.sizeFormatted }}</td>
            <td>{{ file?.type }}</td>
            <td>{{ file?.name }}</td>
            <td>
              <a (click)="deleteFile(i)" style="cursor: pointer;">
                <fa-icon [icon]="faTrashCan"></fa-icon>
              </a>
            </td>
        </tbody>
      </table>
    </div>
  </div>
</div>


<notifier-container></notifier-container>