<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title" id="main-container">
                <br>
                <div class="row">
                    <div class="col-sm-4">
                        <h2>Manage Players</h2>
                    </div>
                    <div class="col-sm-4">
                        <button (click)="onOpenModal(undefined, 'add')" class="btn btn-success my-2 my-sm-0"><i
                                class="fa fa-user-plus"></i> Player</button>
                    </div>
                    <div class="col-sm-4">
                        <form class="form-inline my-2 my-sm-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search players..."
                                (ngModelChange)="searchPlayers(key.value)" #key="ngModel" ngModel name="key"
                                id="searchName" class="form-control mr-sm-2" required>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
                <ng-container *ngSwitchCase="DataState.LOADING_STATE">
                    <div class="col-md-12 single-note-item text-center">
                        <div class="spinner-border text-info" role="status"></div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="DataState.LOADED_STATE">
                    <table class="table table-striped table-hover" id="servers">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Birthday</th>
                                <th>Club Player</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let player of appState.appData?.data?.players; let i = index">
                            <tr>
                                <td>{{ player.id }}</td>
                                <td>{{ player.title }}</td>
                                <td>{{ player.firstName }}</td>
                                <td>{{ player.lastName }}</td>
                                <td>{{ player.birthday | customDate}}</td>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox"
                                            [checked]="player.clubPlayer == true" value="" disabled>
                                    </div>
                                </td>

                                <td>

                                    <a (click)="onOpenModal(player, 'delete')" class="delete"
                                        style="cursor: pointer;"><i class="material-icons" data-toggle="tooltip"
                                            title="Delete">&#xE872;</i></a>

                                    <a (click)="onOpenModal(player, 'edit')" class="edit" style="cursor: pointer;"><i
                                            class="material-icons" data-toggle="tooltip" title="Edit">&#xE3c9;</i></a>

                                </td>
                        </tbody>
                    </table>
                </ng-container>
                <ng-container *ngSwitchCase="DataState.ERROR_STATE">
                    <div class="alert-danger">
                        {{ appState.error }}
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

<!-- Add Player Modal -->
<div class="modal fade" id="addPlayerModal" tabindex="-1" role="dialog" aria-labelledby="addPlayerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPlayerModalLabel">Add Player</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddPlayer(addForm)">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <select class="form-control" ngModel name="title" class="form-control" id="title"
                            placeholder="Title" required>
                            <option>Herr</option>
                            <option>Frau</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="email" ngModel name="firstName" class="form-control" id="firstName"
                            placeholder="First Name" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" ngModel name="lastName" class="form-control" id="lastName"
                            placeholder="Last Name" required>
                    </div>
                    <div class="form-group">
                        <label for="birthday">Birthday</label>
                        <input type="text" ngModel name="birthday" class="form-control" id="birthday"
                            placeholder="yyyy-mm-dd" required>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" ngModel name="clubPlayer" class="form-check-input" id="clubPlayer"
                            value="false">
                        <label class="form-check-label" for="clubPlayer">Club Player</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-player-form" class="btn btn-secondary"
                            data-dismiss="modal">Close</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="updatePlayerModal" tabindex="-1" role="dialog" aria-labelledby="playerEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updatePlayerModalLabel">Edit Player {{editPlayer.firstName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">

                    <input type="hidden" ngModel="{{editPlayer.id}}" name="id" class="form-control" id="id"
                        placeholder="None">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <select class="form-control" ngModel="{{editPlayer.title}}" name="title" class="form-control"
                            id="title" placeholder="Title">
                            <option>Herr</option>
                            <option>Frau</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" ngModel="{{editPlayer.firstName}}" name="firstName" class="form-control"
                            id="firstName" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" ngModel="{{editPlayer.lastName}}" name="lastName" class="form-control"
                            id="lastName" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="birthday" class="form-label">Birthday</label>
                        <input type="text" ngModel="{{editPlayer.birthday | customDate}}" name="birthday"
                            class="form-control" id="birthday" placeholder="yyyy-mm-dd">
                    </div>
                    <div class="form-check">
                        <input type="checkbox" [(ngModel)]="editPlayer.clubPlayer" name="clubPlayer"
                            class="form-check-input" id="clubPlayer" placeholder="false">
                        <label class="form-check-label" for="clubPlayer">Club Player</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                        <button (click)="onUpdatePlayer(editForm.value)" data-dismiss="modal"
                            class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deletePlayerModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Delete Player</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete player {{deletePlayer.firstName}}?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="onDeletePlayer(deletePlayer)" class="btn btn-danger"
                        data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<notifier-container></notifier-container>