<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Manage Players</h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
                            <i class="material-icons">&#xE147;</i>
                            <span>New Player</span>
                        </a>

                    </div>
                </div>
            </div> <br>
            <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
                <ng-container *ngSwitchCase="DataState.LOADING_STATE">
                    <div class="col-md-12 single-note-item text-center">
                        <div class="spinner-border text-info" role="status"></div>
                    </div>
                </ng-container>
                <ng-container *ngSwitchCase="DataState.LOADED_STATE">
                    <table class="table table-striped table-hover" id="servers">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Birthday</th>
                                <th>Club Player</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let player of appState.appData?.data?.players; let i = index">
                            <tr>
                                <td>{{ player.id }}</td>
                                <td>{{ player.firstName }}</td>
                                <td>{{ player.lastName }}</td>
                                <td>{{ player.birthday }}</td>
                                <td>{{ player.clubPlayer }}</td>
                                <td>
                                    <a (click)="deletePlayer(player)" class="delete" data-toggle="modal"
                                        style="cursor: pointer;"><i class="material-icons" data-toggle="tooltip"
                                            title="Delete">&#xE872;</i></a>

                                    <a href="#editPlayerModal" class="edit" data-toggle="modal"
                                        style="cursor: pointer;"><i class="material-icons" data-toggle="tooltip"
                                            title="Edit">&#xE3c9;</i></a>
                                </td>
                        </tbody>
                    </table>
                </ng-container>
                <ng-container *ngSwitchCase="DataState.ERROR_STATE">
                    <div class="alert-danger">
                        {{ appState.error }}
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>

<!-- Add server Modal HTML -->
<div id="addEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form #playerForm="ngForm" (ngSubmit)="createPlayer(playerForm)">
                <div class="modal-header">
                    <h4 class="modal-title">Add new player</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Player Name</label>
                        <input type="text" ngModel name="name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select name="category" ngModel="SERVER_DOWN" class="form-control" name="status" required>
                            <option value="SERVER_UP">SERVER UP</option>
                            <option value="SERVER_DOWN">SERVER DOWN</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <label>Memory</label>
                                <input type="text" ngModel name="memory" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <div class="form-group">
                                <label>Type</label>
                                <input type="text" ngModel name="type" class="form-control" required>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" id="closeModal" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" [disabled]="playerForm.invalid || (isLoading$ | async)"
                        class="btn btn-success">
                        <i *ngIf="isLoading$ | async" class="fas fa-spinner fa-spin"></i>
                        <span *ngIf="isLoading$ | async">Saving...</span>
                        <span *ngIf="!(isLoading$ | async)">Add</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Add server Modal HTML -->
<div id="editPlayerModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (ngSubmit)="onSubmit()">

                <div class="modal-header">
                    <h4 class="modal-title">Edit player</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>

                <div class="modal-body">

                    <div class="form-group">
                        <label for="first-name">First Name: </label>
                        <input id="first-name" type="text" formControlName="firstName" required class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="last-name">Last Name: </label>
                        <input id="last-name" type="text" formControlName="lastName" required class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="last-name">Birthday: </label>
                        <input id="last-name" type="text" formControlName="lastName" required class="form-control">
                    </div>

                    <div class="form-group">
                        <label for="club-player">Club Player: </label>
                        <input id="club-player" type="text" formControlName="lastName" required class="form-control">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" id="closeModal" data-dismiss="modal">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-success" (click)="updatePlayer()">Update Player</button>
                </div>
            </form>
        </div>
    </div>
</div>
<notifier-container></notifier-container>